<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{item.item_name}}</title>
	<link rel="stylesheet" href="">
	<style>
		.user{
			width:400px;
			height: 200px;
			border: 1px solid black;
			overflow: scroll
		}
	</style>
</head>
<body>
	<h1>{{clicked_items.item_name}}</h1>
    <p>Added by: {{ clicked_items.user.name }}</p>
    
	<h3>Users who added this Item/Product to their Wishlist:</h3>
	<div class="user">
		{% for user in liked_user %}
			<p>{{ user.name }}</p>
		{% endfor %}
	</div>


	<a href="/dashboard">Home</a>
	<a href="/logout">Logout</a>
</body>
</html>